In [1]:
import pandas as pd

In [2]:
path = 'etl/data/vendas-combustiveis-m3.ods'

In [7]:
# import numpy as np
# import pandas as pd
# from openpyxl import load_workbook
# from openpyxl.pivot.fields import Missing

# file_path =  'assets/vendas-combustiveis-m3-2022.xlsx'

# workbook = load_workbook(file_path)
# worksheet = workbook['Plan1']

# # Name of desired pivot table (the same name that appears within Excel)
# pivot_name = 'Tabela dinâmica3'

# # Extract the pivot table object from the worksheet
# pivot_table = [p for p in worksheet._pivots if p.name == pivot_name][0]

# # Extract a dict of all cache fields and their respective values
# fields_map = {}
# for field in pivot_table.cache.cacheFields:
#     if field.sharedItems.count > 0:
#         fields_map[field.name] = [f.v for f in field.sharedItems._fields]

# # Extract all rows from cache records. Each row is initially parsed as a dict
# column_names = [field.name for field in pivot_table.cache.cacheFields]
# rows = []
# for record in pivot_table.cache.records.r:
#     # If some field in the record in missing, we replace it by NaN
#     record_values = [
#         field.v if not isinstance(field, Missing) else np.nan for field in record._fields
#     ]

#     row_dict = {k: v for k, v in zip(column_names, record_values)}

#     # Shared fields are mapped as an Index, so we replace the field index by its value
#     for key in fields_map:
#         row_dict[key] = fields_map[key][row_dict[key]]

#     rows.append(row_dict)

# df = pd.DataFrame.from_dict(rows)

In [8]:
# df

In [9]:
file_name = 'etl/data/vendas-combustiveis-m3.ods'
gas_df = pd.read_excel(file_name, sheet_name="DPCache_m3 0")

In [10]:
gas_df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,3517.600,3681.7,4700.67,5339.20,6166.40,6539.65,7283.700,8082.850,7902.55,9383.15,9767.400,9088.800
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,363.000,410.0,536.00,607.00,740.00,756.00,971.000,1174.000,1240.00,1439.00,1483.000,1483.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,3190.585,3305.0,3391.00,3637.00,4250.00,4576.00,5756.879,6228.636,6334.00,7154.20,6836.300,6784.232
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,795.400,757.2,939.80,1040.60,966.00,992.90,1027.000,1083.800,1311.20,1475.30,1502.700,1531.800
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,30137.800,28146.3,31280.50,33033.05,33519.88,34321.53,37168.160,41248.336,40913.48,45383.50,44013.219,41975.030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO SUL,RIO GRANDE DO SUL,m3,39.000,45.0,87.00,51.00,71.00,85.00,54.000,64.000,58.00,61.00,NaN,NaN
1346,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,m3,0.000,0.0,0.00,0.00,0.00,0.00,0.000,0.000,0.00,0.00,NaN,NaN
1347,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO,m3,3.000,6.0,6.00,12.00,6.00,6.00,6.000,6.000,9.00,12.00,NaN,NaN
1348,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,GOIÁS,m3,15.000,0.0,0.00,0.00,0.00,0.00,0.000,0.000,0.00,0.00,NaN,NaN
1349,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,m3,10.000,10.0,20.00,10.00,15.00,10.00,10.000,15.000,15.00,20.00,NaN,NaN

In [11]:
xls = pd.ExcelFile('etl/data/vendas-combustiveis-m3.ods')
sheets = xls.sheet_names

In [12]:
sheets

['Plan1',
 'DPCache_m3',
 'DPCache_m3 -1',
 'DPCache_m3 0',
 'DPCache_m3 1',
 'DPCache_m3 2',
 'DPCache_m3 3']

In [13]:
dfs = pd.DataFrame()

In [14]:
for sheet in sheets:
    if sheet != 'Plan1':
        display(sheet)
        display(pd.read_excel(file_name, sheet_name=sheet))

'DPCache_m3'

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,GLP - Até P13 (m3),2007,REGIÃO NORTE,RONDÔNIA,m3,5296.306159,5208.173913,5716.313406,5428.059783,5850.896739,5418.909420,5566.471014,5738.661232,5283.141304,5648.019928,5829.206522,6238.322464
1,GLP - Até P13 (m3),2007,REGIÃO NORTE,ACRE,m3,1922.911232,1628.568841,1823.500000,2075.155797,1990.170290,1972.429348,1937.173913,1903.626812,1629.612319,2005.036232,2062.501812,1908.581522
2,GLP - Até P13 (m3),2007,REGIÃO NORTE,AMAZONAS,m3,9572.173913,8896.141304,9768.376812,10111.838768,9972.030797,9494.851449,9368.782609,9841.750000,8615.972826,9781.289855,9277.143116,10153.150362
3,GLP - Até P13 (m3),2007,REGIÃO NORTE,RORAIMA,m3,1191.806159,1085.913043,1225.224638,1291.521739,1390.612319,1256.585145,1347.954710,1264.210145,1151.907609,1205.418478,1186.784420,1248.597826
4,GLP - Até P13 (m3),2007,REGIÃO NORTE,PARÁ,m3,20759.570652,19432.614130,22721.494565,20505.632246,22613.815217,20722.170290,20376.059783,22108.259058,20285.021739,22353.382246,21324.110507,22226.800725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,GLP - Outros (m3),2022,REGIÃO SUL,RIO GRANDE DO SUL,m3,20531.577899,21565.509058,25822.824275,26150.027174,30935.291667,32709.373188,31122.664855,33965.688406,30033.389493,28795.829710,NaN,NaN
860,GLP - Outros (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,m3,2604.625000,2796.409420,3211.666667,3005.387681,3156.829710,3186.072464,3131.960145,3464.315217,3344.300725,2964.376812,NaN,NaN
861,GLP - Outros (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO,m3,4351.630435,4935.784420,4778.456522,3833.155797,4455.644928,4378.322464,4388.983696,4645.121377,4378.541667,4179.375000,NaN,NaN
862,GLP - Outros (m3),2022,REGIÃO CENTRO-OESTE,GOIÁS,m3,16507.409420,17215.768116,18436.052536,16176.317029,18300.018116,18532.045290,18482.512681,19429.958333,18119.375000,16937.952899,NaN,NaN
863,GLP - Outros (m3),2022,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,m3,4769.856884,5090.923913,5273.125000,4950.708333,5363.257246,5517.670290,5609.490942,5848.710145,5486.985507,5260.057971,NaN,NaN

'DPCache_m3 -1'

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,REGIÃO SUL,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,NaN,NaN,682644.597826
4964,GLP (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,NaN,NaN,149056.893116
4965,GLP (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,NaN,NaN,197992.996377
4966,GLP (m3),2022,REGIÃO CENTRO-OESTE,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,NaN,NaN,473068.846014
4967,GLP (m3),2022,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,NaN,NaN,143115.119565

'DPCache_m3 0'

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,3517.600,3681.7,4700.67,5339.20,6166.40,6539.65,7283.700,8082.850,7902.55,9383.15,9767.400,9088.800
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,363.000,410.0,536.00,607.00,740.00,756.00,971.000,1174.000,1240.00,1439.00,1483.000,1483.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,3190.585,3305.0,3391.00,3637.00,4250.00,4576.00,5756.879,6228.636,6334.00,7154.20,6836.300,6784.232
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,795.400,757.2,939.80,1040.60,966.00,992.90,1027.000,1083.800,1311.20,1475.30,1502.700,1531.800
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,30137.800,28146.3,31280.50,33033.05,33519.88,34321.53,37168.160,41248.336,40913.48,45383.50,44013.219,41975.030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO SUL,RIO GRANDE DO SUL,m3,39.000,45.0,87.00,51.00,71.00,85.00,54.000,64.000,58.00,61.00,NaN,NaN
1346,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,m3,0.000,0.0,0.00,0.00,0.00,0.00,0.000,0.000,0.00,0.00,NaN,NaN
1347,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO,m3,3.000,6.0,6.00,12.00,6.00,6.00,6.000,6.000,9.00,12.00,NaN,NaN
1348,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,GOIÁS,m3,15.000,0.0,0.00,0.00,0.00,0.00,0.000,0.000,0.00,0.00,NaN,NaN
1349,ÓLEO DIESEL (OUTROS ) (m3),2022,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,m3,10.000,10.0,20.00,10.00,15.00,10.00,10.000,15.000,15.00,20.00,NaN,NaN

'DPCache_m3 1'

,COMBUSTÍVEL,ANO,SEGMENTO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,ETANOL HIDRATADO (m3),2012,POSTO REVENDEDOR,RONDÔNIA,m3,1560.5,1511.000,1622.545,1614.1,1579.000,1649.500,1515.1,1796.5,1684.4,1673.5,1775.024322,1715.512161
1,ETANOL HIDRATADO (m3),2012,POSTO REVENDEDOR,ACRE,m3,443.0,403.000,492.500,477.0,514.485,430.000,447.5,581.5,519.5,437.0,468.007876,512.003938
2,ETANOL HIDRATADO (m3),2012,POSTO REVENDEDOR,AMAZONAS,m3,2913.0,2925.282,3392.000,3159.0,3425.015,3172.000,3081.0,3439.0,3291.0,3797.0,3610.947175,3804.018587
3,ETANOL HIDRATADO (m3),2012,POSTO REVENDEDOR,RORAIMA,m3,137.0,182.400,115.200,146.0,158.000,130.600,132.4,133.0,222.2,185.0,193.802282,193.201141
4,ETANOL HIDRATADO (m3),2012,POSTO REVENDEDOR,PARÁ,m3,2501.6,2258.800,2478.300,2484.6,2585.900,2383.926,2476.4,2512.1,2401.8,2918.6,2600.630797,2701.315399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,ETANOL HIDRATADO (m3),2022,TRR,RIO GRANDE DO SUL,m3,5.0,0.000,0.000,0.0,0.000,5.000,0.0,7.0,3.0,3.0,NaN,NaN
887,ETANOL HIDRATADO (m3),2022,TRR,MATO GROSSO DO SUL,m3,0.0,0.000,0.000,2.0,0.000,0.000,0.0,0.0,0.0,0.0,NaN,NaN
888,ETANOL HIDRATADO (m3),2022,TRR,MATO GROSSO,m3,43.0,63.000,89.000,58.0,78.000,50.000,56.0,110.0,131.0,150.0,NaN,NaN
889,ETANOL HIDRATADO (m3),2022,TRR,GOIÁS,m3,0.0,0.000,0.000,0.0,2852.800,4332.800,2351.3,0.0,40.0,0.0,NaN,NaN
890,ETANOL HIDRATADO (m3),2022,TRR,DISTRITO FEDERAL,m3,0.0,0.000,0.000,0.0,0.000,0.000,0.0,0.0,5.0,0.0,NaN,NaN

'DPCache_m3 2'

,COMBUSTÍVEL,ANO,SEGMENTO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,RONDÔNIA,m3,35384.625231,37674.906595,43406.974318,41205.832237,44599.337363,47693.626374,48241.369658,50118.459341,43795.973088,49097.450003,49090.287366,43257.342464
1,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,ACRE,m3,4513.245285,4600.153819,5222.808146,5423.596136,6544.048257,7239.066353,7940.647733,8557.012064,7507.950058,8074.274461,6836.322718,6484.211124
2,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,AMAZONAS,m3,16156.480663,15898.815705,17371.690111,17268.056105,16848.151770,17453.470559,18546.781644,19643.428193,18406.111413,18920.445630,17818.928401,16289.920870
3,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,RORAIMA,m3,4593.880719,4562.184083,5169.070049,4332.725870,3960.026379,3649.236271,3510.980756,3467.806595,4259.219337,4202.950031,4057.076410,4016.315408
4,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,PARÁ,m3,68112.562887,65850.677090,72603.806326,67158.424604,75980.614068,79678.506843,79655.058209,87262.486517,79446.729205,85817.421259,83044.336327,76654.774046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,ÓLEO DIESEL (m3),2022,TRR,RIO GRANDE DO SUL,m3,86382.025000,97615.957000,113045.169000,107200.409000,98411.499000,78528.785000,76529.781000,98014.913000,108331.276000,133466.979000,NaN,NaN
887,ÓLEO DIESEL (m3),2022,TRR,MATO GROSSO DO SUL,m3,40810.829000,67656.315000,53887.777000,37666.637000,39634.237000,42665.740000,59273.250000,60649.278000,52738.871000,57287.515000,NaN,NaN
888,ÓLEO DIESEL (m3),2022,TRR,MATO GROSSO,m3,133260.100000,140216.300000,97324.770000,64256.730000,87951.500000,127282.430000,118114.865000,105479.200000,107898.900000,115044.431000,NaN,NaN
889,ÓLEO DIESEL (m3),2022,TRR,GOIÁS,m3,28370.700000,47342.200000,35262.600000,23923.400000,31046.780000,36401.100000,40774.000000,33452.800000,32834.990000,40148.300000,NaN,NaN
890,ÓLEO DIESEL (m3),2022,TRR,DISTRITO FEDERAL,m3,650.000000,840.000000,1156.000000,830.000000,654.000000,1166.000000,822.000000,877.000000,769.000000,912.000000,NaN,NaN

'DPCache_m3 3'

,COMBUSTÍVEL,ANO,SEGMENTO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,GASOLINA C (m3),2012,POSTO REVENDEDOR,RONDÔNIA,m3,26326.380,26573.850,29035.503,28283.501,29612.900,29755.700,30425.055,31783.878,32290.201,32961.800,31307.500,34008.258
1,GASOLINA C (m3),2012,POSTO REVENDEDOR,ACRE,m3,8254.000,8329.000,9163.500,9001.000,9924.000,9513.500,10073.000,10864.250,10378.000,10874.000,10432.000,10797.500
2,GASOLINA C (m3),2012,POSTO REVENDEDOR,AMAZONAS,m3,40495.982,41265.863,45564.773,45041.752,46313.677,45540.391,45637.059,50469.390,47096.914,52265.146,47364.777,48833.991
3,GASOLINA C (m3),2012,POSTO REVENDEDOR,RORAIMA,m3,6963.800,7456.500,7840.300,7758.100,8225.500,7914.200,7855.200,8409.200,8472.100,9600.200,8664.800,9648.100
4,GASOLINA C (m3),2012,POSTO REVENDEDOR,PARÁ,m3,65502.070,63391.140,69224.070,68110.510,72704.530,72148.315,76678.574,81903.520,78163.420,85575.275,77548.260,83656.780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,GASOLINA C (m3),2022,TRR,RIO GRANDE DO SUL,m3,252.000,210.000,201.000,215.000,215.000,764.000,720.000,868.000,879.000,783.000,NaN,NaN
887,GASOLINA C (m3),2022,TRR,MATO GROSSO DO SUL,m3,0.000,0.000,0.000,47.000,30.000,37.000,43.000,24.000,34.000,28.000,NaN,NaN
888,GASOLINA C (m3),2022,TRR,MATO GROSSO,m3,100.000,106.000,96.000,102.000,68.000,85.000,83.000,85.000,110.000,100.000,NaN,NaN
889,GASOLINA C (m3),2022,TRR,GOIÁS,m3,12.000,10.000,0.000,757.500,1586.700,3035.300,3790.400,4.000,9.000,15.000,NaN,NaN
890,GASOLINA C (m3),2022,TRR,DISTRITO FEDERAL,m3,0.000,0.000,0.000,0.000,0.000,0.000,2.000,4.000,2.000,5.000,NaN,NaN

In [15]:
df = pd.read_excel(file_name, sheet_name='DPCache_m3')
df['COMBUSTÍVEL'].unique()

array(['GLP - Até P13 (m3)', 'GLP - Outros (m3)'], dtype=object)

In [16]:
for sheet in sheets:
    if sheet != 'Plan1':
        display(sheet)
        df = pd.read_excel(file_name, sheet_name=sheet)
        display(df['COMBUSTÍVEL'].unique())

'DPCache_m3'

array(['GLP - Até P13 (m3)', 'GLP - Outros (m3)'], dtype=object)

'DPCache_m3 -1'

array(['GASOLINA C (m3)', 'GASOLINA DE AVIAÇÃO (m3)',
       'QUEROSENE ILUMINANTE (m3)', 'QUEROSENE DE AVIAÇÃO (m3)',
       'ÓLEO DIESEL (m3)', 'ÓLEO COMBUSTÍVEL (m3)',
       'ETANOL HIDRATADO (m3)', 'GLP (m3)'], dtype=object)

'DPCache_m3 0'

array(['ÓLEO DIESEL S-10 (m3)', 'ÓLEO DIESEL S-500 (m3)',
       'ÓLEO DIESEL S-1800 (m3)', 'ÓLEO DIESEL MARÍTIMO (m3)',
       'ÓLEO DIESEL (OUTROS ) (m3)'], dtype=object)

'DPCache_m3 1'

array(['ETANOL HIDRATADO (m3)'], dtype=object)

'DPCache_m3 2'

array(['ÓLEO DIESEL (m3)'], dtype=object)

'DPCache_m3 3'

array(['GASOLINA C (m3)'], dtype=object)

In [17]:
usefull_sheets = ['DPCache_m3', 'DPCache_m3 -1', 'DPCache_m3 0']

In [18]:
file_name = 'etl/data/vendas-combustiveis-m3.ods'
xls = pd.ExcelFile(file_name)
sheets = xls.sheet_names
display(sheets)

['Plan1',
 'DPCache_m3',
 'DPCache_m3 -1',
 'DPCache_m3 0',
 'DPCache_m3 1',
 'DPCache_m3 2',
 'DPCache_m3 3']

In [19]:
df = pd.read_excel(file_name, sheet_name='DPCache_m3 2')
display(df)

,COMBUSTÍVEL,ANO,SEGMENTO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,RONDÔNIA,m3,35384.625231,37674.906595,43406.974318,41205.832237,44599.337363,47693.626374,48241.369658,50118.459341,43795.973088,49097.450003,49090.287366,43257.342464
1,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,ACRE,m3,4513.245285,4600.153819,5222.808146,5423.596136,6544.048257,7239.066353,7940.647733,8557.012064,7507.950058,8074.274461,6836.322718,6484.211124
2,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,AMAZONAS,m3,16156.480663,15898.815705,17371.690111,17268.056105,16848.151770,17453.470559,18546.781644,19643.428193,18406.111413,18920.445630,17818.928401,16289.920870
3,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,RORAIMA,m3,4593.880719,4562.184083,5169.070049,4332.725870,3960.026379,3649.236271,3510.980756,3467.806595,4259.219337,4202.950031,4057.076410,4016.315408
4,ÓLEO DIESEL (m3),2012,POSTO REVENDEDOR,PARÁ,m3,68112.562887,65850.677090,72603.806326,67158.424604,75980.614068,79678.506843,79655.058209,87262.486517,79446.729205,85817.421259,83044.336327,76654.774046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,ÓLEO DIESEL (m3),2022,TRR,RIO GRANDE DO SUL,m3,86382.025000,97615.957000,113045.169000,107200.409000,98411.499000,78528.785000,76529.781000,98014.913000,108331.276000,133466.979000,NaN,NaN
887,ÓLEO DIESEL (m3),2022,TRR,MATO GROSSO DO SUL,m3,40810.829000,67656.315000,53887.777000,37666.637000,39634.237000,42665.740000,59273.250000,60649.278000,52738.871000,57287.515000,NaN,NaN
888,ÓLEO DIESEL (m3),2022,TRR,MATO GROSSO,m3,133260.100000,140216.300000,97324.770000,64256.730000,87951.500000,127282.430000,118114.865000,105479.200000,107898.900000,115044.431000,NaN,NaN
889,ÓLEO DIESEL (m3),2022,TRR,GOIÁS,m3,28370.700000,47342.200000,35262.600000,23923.400000,31046.780000,36401.100000,40774.000000,33452.800000,32834.990000,40148.300000,NaN,NaN
890,ÓLEO DIESEL (m3),2022,TRR,DISTRITO FEDERAL,m3,650.000000,840.000000,1156.000000,830.000000,654.000000,1166.000000,822.000000,877.000000,769.000000,912.000000,NaN,NaN

In [20]:
# df = pd.read_excel(file_name, sheet_name='DPCache_m3_2')
# display(df)

In [21]:
# df_full = pd.DataFrame(columns =['COMBUSTÍVEL','ANO', 'REGIÃO', 'ESTADO', 'UNIDADE', 'Jan', 'Fev', 'Mar', 'Abr','Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'])
df = pd.read_excel(file_name, sheet_name='DPCache_m3 -1')

In [22]:
display(df)

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,REGIÃO SUL,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,NaN,NaN,682644.597826
4964,GLP (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,NaN,NaN,149056.893116
4965,GLP (m3),2022,REGIÃO CENTRO-OESTE,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,NaN,NaN,197992.996377
4966,GLP (m3),2022,REGIÃO CENTRO-OESTE,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,NaN,NaN,473068.846014
4967,GLP (m3),2022,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,NaN,NaN,143115.119565

In [23]:
df = df[df.COMBUSTÍVEL != 'ETANOL HIDRATADO (m3)']

In [24]:
df = df.drop('REGIÃO', axis=1)

In [25]:
display(df)

,COMBUSTÍVEL,ANO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,NaN,NaN,682644.597826
4964,GLP (m3),2022,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,NaN,NaN,149056.893116
4965,GLP (m3),2022,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,NaN,NaN,197992.996377
4966,GLP (m3),2022,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,NaN,NaN,473068.846014
4967,GLP (m3),2022,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,NaN,NaN,143115.119565

In [26]:
df.to_parquet('etl/data/data-lake/bronze/raw.parquet')

In [53]:
df_parquet = pd.read_parquet('etl/data/data-lake/raw.parquet')

In [54]:
display(df_parquet)

,COMBUSTÍVEL,ANO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,NaN,NaN,682644.597826
4964,GLP (m3),2022,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,NaN,NaN,149056.893116
4965,GLP (m3),2022,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,NaN,NaN,197992.996377
4966,GLP (m3),2022,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,NaN,NaN,473068.846014
4967,GLP (m3),2022,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,NaN,NaN,143115.119565

In [55]:
df_parquet = df_parquet.fillna(0)

In [56]:
display(df_parquet)

,COMBUSTÍVEL,ANO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,0.000,0.000,682644.597826
4964,GLP (m3),2022,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,0.000,0.000,149056.893116
4965,GLP (m3),2022,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,0.000,0.000,197992.996377
4966,GLP (m3),2022,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,0.000,0.000,473068.846014
4967,GLP (m3),2022,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,0.000,0.000,143115.119565

In [57]:
df_parquet = df_parquet.rename(columns={"COMBUSTÍVEL": "product", "ESTADO": "uf", "UNIDADE": "unit", "ANO": 'ano'})

In [58]:
display(df_parquet)

,product,ano,uf,unit,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,RONDÔNIA,m3,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576,10818.094,136073.253000
1,GASOLINA C (m3),2000,ACRE,m3,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718,3358.346,40001.853000
2,GASOLINA C (m3),2000,AMAZONAS,m3,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000,20766.918,21180.919,242742.352000
3,GASOLINA C (m3),2000,RORAIMA,m3,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000,3716.032000,3200.400,3339.332,43338.929000
4,GASOLINA C (m3),2000,PARÁ,m3,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000,29755.907000,28661.951000,28145.784,29294.796,359575.398000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,GLP (m3),2022,RIO GRANDE DO SUL,m3,55465.762681,56524.188406,66900.469203,64094.146739,74129.215580,76587.403986,71390.403986,78189.777174,70610.938406,68752.291667,0.000,0.000,682644.597826
4964,GLP (m3),2022,MATO GROSSO DO SUL,m3,13103.186594,13636.005435,15409.358696,14089.920290,15861.858696,15882.780797,14805.371377,16263.711957,15594.840580,14409.858696,0.000,0.000,149056.893116
4965,GLP (m3),2022,MATO GROSSO,m3,18747.778986,19652.559783,21938.202899,18503.958333,20254.012681,20269.847826,19337.538043,20977.030797,19482.599638,18829.467391,0.000,0.000,197992.996377
4966,GLP (m3),2022,GOIÁS,m3,45782.885870,45668.326087,50684.844203,43159.846014,48961.893116,48719.344203,47441.463768,50555.036232,46737.764493,45357.442029,0.000,0.000,473068.846014
4967,GLP (m3),2022,DISTRITO FEDERAL,m3,13002.608696,13979.788043,14761.355072,13471.326087,14315.240942,14771.971014,14439.559783,15400.280797,14413.277174,14559.711957,0.000,0.000,143115.119565

In [59]:
df_parquet = pd.melt(df_parquet,
                            id_vars=['product', 'ano', 'unit', 'uf', 'TOTAL'],
                            var_name='mes',
                            value_name='volume')

In [60]:
display(df_parquet)

,product,ano,unit,uf,TOTAL,mes,volume
0,GASOLINA C (m3),2000,m3,RONDÔNIA,136073.253000,Jan,9563.263
1,GASOLINA C (m3),2000,m3,ACRE,40001.853000,Jan,3065.758
2,GASOLINA C (m3),2000,m3,AMAZONAS,242742.352000,Jan,17615.604
3,GASOLINA C (m3),2000,m3,RORAIMA,43338.929000,Jan,3259.300
4,GASOLINA C (m3),2000,m3,PARÁ,359575.398000,Jan,28830.479
...,...,...,...,...,...,...,...
52159,GLP (m3),2022,m3,RIO GRANDE DO SUL,682644.597826,Dez,0.000
52160,GLP (m3),2022,m3,MATO GROSSO DO SUL,149056.893116,Dez,0.000
52161,GLP (m3),2022,m3,MATO GROSSO,197992.996377,Dez,0.000
52162,GLP (m3),2022,m3,GOIÁS,473068.846014,Dez,0.000
52163,GLP (m3),2022,m3,DISTRITO FEDERAL,143115.119565,Dez,0.000

In [61]:
df_parquet['product'].unique()

array(['GASOLINA C (m3)', 'GASOLINA DE AVIAÇÃO (m3)',
       'QUEROSENE ILUMINANTE (m3)', 'QUEROSENE DE AVIAÇÃO (m3)',
       'ÓLEO DIESEL (m3)', 'ÓLEO COMBUSTÍVEL (m3)', 'GLP (m3)'],
      dtype=object)

In [62]:
df_parquet['product'] = df_parquet['product'].str.replace('m3', '', regex=True) 
df_parquet['product'] = df_parquet['product'].str.replace('\(', '', regex=True) 
df_parquet['product'] = df_parquet['product'].str.replace('\)', '', regex=True) 
df_parquet['product'] = df_parquet['product'].str.rstrip().str.lstrip()
df_parquet['product'] = df_parquet['product'].str.replace(' ', '_', regex=True)

In [63]:
display(df_parquet)

,product,ano,unit,uf,TOTAL,mes,volume
0,GASOLINA_C,2000,m3,RONDÔNIA,136073.253000,Jan,9563.263
1,GASOLINA_C,2000,m3,ACRE,40001.853000,Jan,3065.758
2,GASOLINA_C,2000,m3,AMAZONAS,242742.352000,Jan,17615.604
3,GASOLINA_C,2000,m3,RORAIMA,43338.929000,Jan,3259.300
4,GASOLINA_C,2000,m3,PARÁ,359575.398000,Jan,28830.479
...,...,...,...,...,...,...,...
52159,GLP,2022,m3,RIO GRANDE DO SUL,682644.597826,Dez,0.000
52160,GLP,2022,m3,MATO GROSSO DO SUL,149056.893116,Dez,0.000
52161,GLP,2022,m3,MATO GROSSO,197992.996377,Dez,0.000
52162,GLP,2022,m3,GOIÁS,473068.846014,Dez,0.000
52163,GLP,2022,m3,DISTRITO FEDERAL,143115.119565,Dez,0.000

In [64]:
df_parquet['mes'] = df_parquet['mes'].replace({'Jan': '01', 'Fev': '02', 'Mar': '03',
                                                'Abr': '04', 'Mai': '05', 'Jun': '06',
                                                'Jul': '07', 'Ago': '08', 'Set': '09',
                                                'Out': '10', 'Nov': '11', 'Dez': '12'})

In [65]:
df_parquet['uf'] = df_parquet['uf'].replace({"ACRE":"AC",
                                            "ALAGOAS":"AL",
                                            "AMAZONAS":"AM",
                                            "AMAPÁ":"AP",
                                            "BAHIA":"BA",
                                            "CEARÁ":"CE",
                                            "DISTRITO FEDERAL":"DF",
                                            "ESPÍRITO SANTO":"ES",
                                            "GOIÁS":"GO",
                                            "MARANHÃO":"MA",
                                            "MINAS GERAIS":"MG",
                                            "MATO GROSSO DO SUL":"MS",
                                            "MATO GROSSO":"MT",
                                            "PARÁ":"PA",
                                            "PARAÍBA":"PB",	
                                            "PERNAMBUCO":"PE",
                                            "PIAUÍ":"PI",
                                            "PARANÁ":"PR",
                                            "RIO DE JANEIRO":"RJ",
                                            "RIO GRANDE DO NORTE":"RN",
                                            "RONDÔNIA":"RO",
                                            "RORAIMA":"RR",
                                            "RIO GRANDE DO SUL":"RS",
                                            "SANTA CATARINA":"SC",
                                            "SERGIPE":"SE",
                                            "SÃO PAULO":"SP",
                                            "TOCANTINS":"TO"})

In [66]:
df_parquet['year_month'] = df_parquet.apply(lambda row: str(row['ano']) + '_' + row['mes'], axis=1)

In [67]:
def get_timestamp():
    from datetime import datetime, timezone, timedelta

    now = datetime.now(timezone.utc)
    epoch = datetime(1970, 1, 1, tzinfo=timezone.utc) # use POSIX epoch
    posix_timestamp_millis = (now - epoch) // timedelta(milliseconds=1)
    return posix_timestamp_millis

In [68]:
# df_parquet = df_parquet.drop(['ano', 'mes', 'TOTAL'], axis=1)

In [69]:
df_parquet['timestamp'] = get_timestamp()

In [70]:
display(df_parquet)

,product,ano,unit,uf,TOTAL,mes,volume,year_month,timestamp
0,GASOLINA_C,2000,m3,RO,136073.253000,01,9563.263,2000_01,1670443056352
1,GASOLINA_C,2000,m3,AC,40001.853000,01,3065.758,2000_01,1670443056352
2,GASOLINA_C,2000,m3,AM,242742.352000,01,17615.604,2000_01,1670443056352
3,GASOLINA_C,2000,m3,RR,43338.929000,01,3259.300,2000_01,1670443056352
4,GASOLINA_C,2000,m3,PA,359575.398000,01,28830.479,2000_01,1670443056352
...,...,...,...,...,...,...,...,...,...
52159,GLP,2022,m3,RS,682644.597826,12,0.000,2022_12,1670443056352
52160,GLP,2022,m3,MS,149056.893116,12,0.000,2022_12,1670443056352
52161,GLP,2022,m3,MT,197992.996377,12,0.000,2022_12,1670443056352
52162,GLP,2022,m3,GO,473068.846014,12,0.000,2022_12,1670443056352
52163,GLP,2022,m3,DF,143115.119565,12,0.000,2022_12,1670443056352

In [71]:
df_oil = df_parquet[df_parquet['product'] == 'ÓLEO_DIESEL']

In [72]:
display(df_oil)

,product,ano,unit,uf,TOTAL,mes,volume,year_month,timestamp
108,ÓLEO_DIESEL,2000,m3,RO,657895.696,01,47445.936,2000_01,1670443056352
109,ÓLEO_DIESEL,2000,m3,AC,219041.256,01,18025.337,2000_01,1670443056352
110,ÓLEO_DIESEL,2000,m3,AM,485952.774,01,50004.659,2000_01,1670443056352
111,ÓLEO_DIESEL,2000,m3,RR,124493.882,01,13675.733,2000_01,1670443056352
112,ÓLEO_DIESEL,2000,m3,PA,1069487.073,01,78637.609,2000_01,1670443056352
...,...,...,...,...,...,...,...,...,...
52105,ÓLEO_DIESEL,2022,m3,RS,3139704.962,12,0.000,2022_12,1670443056352
52106,ÓLEO_DIESEL,2022,m3,MS,1589259.831,12,0.000,2022_12,1670443056352
52107,ÓLEO_DIESEL,2022,m3,MT,3161445.690,12,0.000,2022_12,1670443056352
52108,ÓLEO_DIESEL,2022,m3,GO,2820951.916,12,0.000,2022_12,1670443056352
52109,ÓLEO_DIESEL,2022,m3,DF,337449.941,12,0.000,2022_12,1670443056352

In [73]:
df_derivate =  df_parquet[df_parquet['product'] != 'ÓLEO_DIESEL']

In [74]:
display(df_derivate)

,product,ano,unit,uf,TOTAL,mes,volume,year_month,timestamp
0,GASOLINA_C,2000,m3,RO,136073.253000,01,9563.263,2000_01,1670443056352
1,GASOLINA_C,2000,m3,AC,40001.853000,01,3065.758,2000_01,1670443056352
2,GASOLINA_C,2000,m3,AM,242742.352000,01,17615.604,2000_01,1670443056352
3,GASOLINA_C,2000,m3,RR,43338.929000,01,3259.300,2000_01,1670443056352
4,GASOLINA_C,2000,m3,PA,359575.398000,01,28830.479,2000_01,1670443056352
...,...,...,...,...,...,...,...,...,...
52159,GLP,2022,m3,RS,682644.597826,12,0.000,2022_12,1670443056352
52160,GLP,2022,m3,MS,149056.893116,12,0.000,2022_12,1670443056352
52161,GLP,2022,m3,MT,197992.996377,12,0.000,2022_12,1670443056352
52162,GLP,2022,m3,GO,473068.846014,12,0.000,2022_12,1670443056352
52163,GLP,2022,m3,DF,143115.119565,12,0.000,2022_12,1670443056352

In [75]:
df_derivate.to_parquet('etl/data/data-lake/silver/derivate.parquet', partition_cols=['product', 'year_month', ], compression='gzip')

In [76]:
from pathlib import Path
dest_dir = Path('etl/data/data-lake/silver')
dest_dir.mkdir(parents=True, exist_ok=True)

In [77]:
display(df_parquet)

,product,ano,unit,uf,TOTAL,mes,volume,year_month,timestamp
0,GASOLINA_C,2000,m3,RO,136073.253000,01,9563.263,2000_01,1670443056352
1,GASOLINA_C,2000,m3,AC,40001.853000,01,3065.758,2000_01,1670443056352
2,GASOLINA_C,2000,m3,AM,242742.352000,01,17615.604,2000_01,1670443056352
3,GASOLINA_C,2000,m3,RR,43338.929000,01,3259.300,2000_01,1670443056352
4,GASOLINA_C,2000,m3,PA,359575.398000,01,28830.479,2000_01,1670443056352
...,...,...,...,...,...,...,...,...,...
52159,GLP,2022,m3,RS,682644.597826,12,0.000,2022_12,1670443056352
52160,GLP,2022,m3,MS,149056.893116,12,0.000,2022_12,1670443056352
52161,GLP,2022,m3,MT,197992.996377,12,0.000,2022_12,1670443056352
52162,GLP,2022,m3,GO,473068.846014,12,0.000,2022_12,1670443056352
52163,GLP,2022,m3,DF,143115.119565,12,0.000,2022_12,1670443056352

In [84]:
import math
for i, row in df_parquet.iterrows():
    imported_df_filtered = df_parquet[(df_parquet["product"] == row["product"])  & (df_parquet["ano"] == row["ano"]) & (df_parquet["uf"] == row["uf"])]
    volume_sum = imported_df_filtered['volume'].sum()
    original_volume_sum = row['TOTAL']
    if(math.isnan(original_volume_sum)):
        original_volume_sum = 0
    if(round(volume_sum) != round(original_volume_sum)):
        print('The values of this set are mismatching: {} {} {} {} {}'.format(row["product"], row["ano"], row["uf"], volume_sum, original_volume_sum))

The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5
The values of this set are mismatching: GASOLINA_C 2010 AP 99396.50000000001 99396.5

In [85]:
df['TOTAL'].unique()

array([136073.253     ,  40001.853     , 242742.352     , ...,
       197992.99637681, 473068.84601449, 143115.11956522])

In [109]:
# df = df[df_parquet['product'] == 'ÓLEO_DIESEL' & df_parquet['uf'] == 'SP']['TOTAL'].unique()
mask = (df_parquet['product'] == 'ÓLEO_DIESEL') & (df_parquet['uf'] == 'SP')  & (df_parquet['ano'] == 2020)
df_filterers = df_parquet[mask]

In [110]:
df_filterers['volume'].sum()

12111972.762

In [111]:
df_filterers['TOTAL'].unique()[0]

12111972.762

In [118]:
prods = df_parquet['product'].unique()

In [119]:
states = df_parquet['uf'].unique()

In [120]:
years = df_parquet['ano'].unique()

In [126]:
for prod in prods:
    for state in states:
        for year in years:
            mask = (df_parquet['product'] == prod) & (df_parquet['uf'] == state)  & (df_parquet['ano'] == year)
            df_filterers = df_parquet[mask]
            total = df_filterers['TOTAL'].unique()[0]
            data_sum = df_filterers['volume'].sum()
            if math.isnan(data_sum) or math.isnan(total):
                print(data_sum, type(data_sum))
                print(total, type(total))
                print('Wrong number in totalization')
                break
            if round(total, 3) != round(data_sum, 3): #avoiding mantissa error
                print(f'error in data parsing for {prod}, {state}, {year}. Parsed sum {data_sum}. Raw sum {total}')